* {
  /*Box model stuff*/
  margin: 0;
  padding: 0;
  /*Typography stuff*/
  font-family: "Poppins", sans-serif;
  /*Miscellaneous*/
  box-sizing: border-box;
}

body {
  /*Miscellaneous*/
  /* border: 1px solid black; */
}

.logo {
  font-family: "Pixelify Sans", Courier, monospace;
  font-size: 24px;
}

header {
  /*Box model stuff*/
  border-bottom: 1px solid #c3ccd9;
}

header nav {
  /*Display stuff*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*Box model stuff*/
  max-width: 1080px;
  margin: 10px auto;
}

header nav li {
  /*Miscellaneous*/
  list-style: none;
}

header nav ul {
  /*Display stuff*/
  display: flex;
  align-items: center;
  /*Miscellaneous*/
  gap: 29px;
}

header .add-post,
header .login {
  /*Display stuff*/
  display: flex;
  align-items: center;
  /*Miscellaneous*/
  gap: 10px;
  cursor: pointer;
}

header .add-post a,
header .login a,
header .register a {
  /*Typography stuff*/
  text-decoration: none;
  color: #282828;
}

header .login {
  background-color: #007dfa;
  padding: 8px 20px;
  border-radius: 8px;
}
header .login:hover {
  background-color: #1e8dfd;
}

header .login a {
  color: #ffffff;
}

.profile-cover {
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-color: #282828;
}

.edit-perfil-container {
  margin: 10px auto;
}

.edit-perfil-container h1 {
  max-width: 1080px;
  margin: 10px auto;
}

.edit-perfil {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
}

.edit-perfil form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 800px;
}
.input-full-name,
.input-email,
.input-number,
.input-cidade {
  display: flex;
  flex-direction: column;
  gap: 8px;
  /* border: 1px solid red; */
}

.input-estado {
  display: flex;
  gap: 20px;
}

.input-full-name input[type="text"],
.input-email input[type="email"],
.input-number input[type="number"],
.input-cidade input[type="text"] {
  border: none;
  border: 1px solid #c3ccd9;
  border-radius: 8px;
  padding: 10px 16px;
}

.input-estado-wrapper input[type="text"] {
  border: none;
  border: 1px solid #c3ccd9;
  border-radius: 8px;
  padding: 12px 16px;
}

/* .input-cidade .buttons-form {
  display: flex;
  gap: 10px;
  margin: 10px 0 0 0;
} */
/* 
.button-active,
.button-voltar {
  background-color: #007dfa;
  padding: 8px 12px;
  border: none;
  border-radius: 8px;
  color: #ffffff;
}

.button-voltar {
  background-color: #ffffff;
  color: #282828;
  border: 1px solid #282828;
} */
