* {
  /*Box model stuff*/
  margin: 0;
  padding: 0;
  /*Typography stuff*/
  font-family: "Poppins", sans-serif;
  /*Miscellaneous*/
  box-sizing: border-box;
}

body {
  /*Miscellaneous*/
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

header {
  /*Box model stuff*/
  border-bottom: 1px solid #c3ccd9;
}

header nav {
  /*Display stuff*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*Box model stuff*/
  max-width: 930px;
  /* max-width: 1080px; */
  margin: 10px auto;
}

header nav li {
  /*Miscellaneous*/
  list-style: none;
}

header nav ul {
  /*Display stuff*/
  display: flex;
  align-items: center;
  /*Miscellaneous*/
  gap: 29px;
}

header .add-post,
header .login {
  /*Display stuff*/
  display: flex;
  align-items: center;
  /*Miscellaneous*/
  gap: 10px;
  cursor: pointer;
}

header .add-post a,
header .login a,
header .register a {
  /*Typography stuff*/
  text-decoration: none;
  color: #282828;
}

header .login {
  background-color: #007dfa;
  padding: 8px 20px;
  border-radius: 8px;
}
header .login:hover {
  background-color: #1e8dfd;
}

header .login a {
  color: #ffffff;
}

.input-search {
  display: flex;
  align-items: center;
  max-width: 930px;
  margin: 0 auto;
  background-color: #f5f5f5;
  padding: 10px 16px;
  border-radius: 50px;
  gap: 8px;
}
.input-search input[type="search"] {
  width: 100%;
  padding: 10px 16px;
  border: none;
  background: none;
  outline: none;
  font-size: 18px;
}

footer {
  width: 930px;
  margin: 0 auto;
}

.search-categorias {
  max-width: 930px;
  margin: 25px auto;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.search-categorias .cards {
  padding: 10px;
  display: inline-block;
  width: 150px;
  height: 80px;
  background-color: #c3ccd9;
  justify-self: flex-start;
  flex: 0 1 24%;
}
